<footer>
    <div class="icon-container">
      <fa-icon [icon]="faInstagram" class="footer-icon"></fa-icon>
      <fa-icon [icon]="faFacebook" class="footer-icon"></fa-icon>
      <fa-icon [icon]="faTwitter" class="footer-icon"></fa-icon>
    </div>
    <p class="pte-">Privacidad</p>
    <p class="p-10">Terminos Y Condiciones</p>
    <p class="pt-12">Preguntas Frecuentes</p>
    <button class="custom-button" (click)="goToDonatePage()">
      <i class="fa fa-heart"></i> Ir a donar
    </button>
  </footer>
  