.col{
    background-color: #22cb1f; 
    color: white;
    padding: 1%;
    height: 20%;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    display: flex;
    justify-content: center;
    
}
