<app-header></app-header>
<app-navar></app-navar>
<div class="layout">
    <h1 class="title-col12">¿Qué es el Cambio Climático?</h1>
    <p class="div-1">
        El cambio climático se refiere a los cambios a largo plazo de las temperaturas y los patrones climáticos.
        Estos cambios pueden ser naturales, debido a variaciones en la actividad solar o erupciones volcánicas grandes. 
        Pero desde el siglo XIX, las actividades humanas han sido el principal motor del cambio climático, debido
         principalmente a la quema de combustibles fósiles como 
        el carbón, el petróleo y el gas.
    </p>
    <img src="image 1.png" alt="clima">
</div>
<div class="card">
    
        <p class="pet">
            Las emisiones principales de 
            gases de efecto invernadero que provocan el cambio climático son el dióxido de carbono y el metano. 
            Estos proceden del uso de la gasolina para conducir un coche o del carbón para calentar un edificio, por ejemplo.
             El desmonte de tierras y bosques también puede liberar dióxido de carbono. La agricultura y las actividades relacionadas
              con el petróleo y el gas son fuentes importante de emisiones de metano. La energía, la industria, el transporte, los
               edificios, la agricultura y el uso del suelo se encuentran entre los principales emisores.
        </p>
        <img class="image" src="image 2.png">
  
</div>
<div>
    <h3 class="col-23">
        Podemos pagar la factura ahora, o enfrentar un costo mucho mayor en el futuro.
    </h3>
    <p class="div-4">
        La acción climática requiere importantes inversiones financieras por parte de gobiernos y empresas. 
        Pero la inacción climática es mucho más cara. Un paso fundamental es que los países industrializados cumplan su compromiso de 
        aportar 100 000 millones de dólares anuales 
        a los países en desarrollo para que puedan adaptarse y avanzar hacia economías más ecológicas.  
    </p>
    <img class="img-3" src="image 3.png">
</div>
<div class="outle">
    <h1 class="sbutitle-89">
        ¡Alerta Roja Cambio Climatico!
     </h1>
    <iframe width="580" height="315" src="https://www.youtube.com/embed/Jsq_I7aWA9M?si=zpUptc6LLGY--lfF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div >
    <h1 class="crisis">
        La Crisis Climatica
    </h1>
    <iframe width="580" height="315" class="iframe-1" src="https://www.youtube.com/embed/KUSyzxv3wfo?si=h-6dNx3g5YmjWBiY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
 
<div class="container-2">
    <app-footer></app-footer>
</div>

