<app-header></app-header>
<app-navar></app-navar>

<div class="Card-1">
    <img class="image-12" src="image 6.jpg">
    <p class="pf-12">
        DATO: el cambio climático es real
El cambio climático ya está afectando a todas las regiones de la Tierra. Cambios en los patrones de lluvia, aumento del nivel del mar, deshielo de los glaciares, 
calentamiento de los océanos y fenómenos meteorológicos extremos más frecuentes e intensos son solo algunos de los cambios que ya afectan a millones de personas. (IPCC)
El cambio climático puede afectar a nuestra salud, nuestra capacidad para cultivar alimentos, nuestra vivienda, nuestra seguridad y nuestro trabajo. Algunos de nosotros somos más vulnerables a los impactos climáticos, como las personas que viven en pequeños países insulares en vías de desarrollo. Amenazas como la subida del nivel del mar y la intrusión salina han ido avanzando hasta el punto de que comunidades enteras han tenido que reubicarse. Se prevé que en el futuro aumente el número de personas desplazadas por el cambio climático.
Los cambios climáticos son generalizados, rápidos y cada vez más intensos, y algunos de ellos, como la subida del nivel del mar o el deshielo de los glaciares, son irreversibles en un plazo de cientos a miles de años. (IPCC)
    </p>
</div>
<div class="card-2">
    <img class="imagen-13" src="9.png">
    <p class="ptf-22">
        DATO: los científicos coinciden en que el ser humano es responsable del cambio climático
Numerosos estudios independientes realizados en los últimos 19 años han concluido que entre el 90 % y el 100 % de los científicos están de acuerdo en que el ser humano es responsable del cambio climático, y la mayoría de los estudios han llegado a un consenso del 97 %.
Un estudio de 2021 constató un consenso superior al 99 % en cuanto al cambio climático provocado por el hombre en publicaciones científicas revisadas por pares (revisadas antes de su publicación por expertos en el mismo ámbito), un nivel de certeza similar al de la teoría de la evolución.
El informe de síntesis del Grupo Intergubernamental de Expertos sobre el Cambio Climático (IPCC), publicado en marzo de 2023, confirmó categóricamente que la actividad humana es la causa principal del cambio climático. Las exhaustivas evaluaciones del IPCC han sido redactadas por cientos de destacados científicos internacionales, han contado con las aportaciones de miles de expertos y han sido refrendadas por los 
gobiernos de todos los países del mundo.
    </p>
</div>

<div class="footer-12">
    <app-footer></app-footer>
</div>
